<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294145270812-g5id4q9aecgigejmoah6oloom6iimjf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294145270812-g5id4q9aecgigejmoah6oloom6iimjf7</string>
	<key>API_KEY</key>
	<string>AIzaSyA7yi5hpgAGaqM9gitKS1HGkyDhuaFIZ4g</string>
	<key>GCM_SENDER_ID</key>
	<string>294145270812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iryna.wordix</string>
	<key>PROJECT_ID</key>
	<string>braingym-app</string>
	<key>STORAGE_BUCKET</key>
	<string>braingym-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294145270812:ios:3b3af1c16f99e8fc36ebd9</string>
	<key>DATABASE_URL</key>
	<string>https://braingym-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>